@import "~/nativescript-theme-core/css/core.light.css";
Page {
  background-color: white;
  font-size: 15;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}
ActionBar {
  background-color: #3f6ca3;
  color: white;
}
TextField {
  padding: 10;
  font-size: 13;
}
.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}
.bold {
  font-weight: bold;
}
.align-top { 
  vertical-align: top;
}

.train-status-term {
  color: orangered;
}
.train-status-built { 
  color: green;
}

.side-drawer { 
  background-color: #3f6ca3;
  color: white;
}
.side-drawer .list-group-item {
  color: white;
}