<ActionBar title="Roster">
    <ActionItem (tap)="onToggleSideDrawer()" ios.systemIcon="10" ios.position="left" android.position="popup"></ActionItem>
    <ActionItem (tap)="onSyncRoster()" ios.systemIcon="13" ios.position="right" android.position="popup"></ActionItem>
</ActionBar>
  
  <RadSideDrawer>
    <StackLayout tkDrawerContent class="side-drawer">
        <StackLayout class="list-group">
            <Button text="Trains" class="list-group-item" [nsRouterLink]="['/trains']" clearHistory="true"></Button>
            <Button text="Car Roster" class="list-group-item" [nsRouterLink]="['/roster']" clearHistory="true"></Button>
            <Button text="Setup" class="list-group-item" [nsRouterLink]="['/setup']"></Button>
        </StackLayout>
    </StackLayout>
    <GridLayout tkMainContent rows="auto, *">
        <SearchBar row="0" hint="Search road name, number or type" [text]="searchPhrase" (submit)="onSearchSubmit($event)" (clear)="onSearchClear($event)"
            color="black" textFieldBackgroundColor="white" textFieldHintColor="gray"></SearchBar>

        <ListView row="1" [items]="localRosterItems" (itemTap)="onRosterItemSelected($event)" [class.visible]="isRosterLoaded" class="list-group roster-list">
            <ng-template let-item="item">
                <GridLayout rows="auto, auto" columns="*, auto" class="list-group-item">
                    <Label row="0" col="0" [text]="item.road + ' ' + item.number" class="item-id"></Label>
                    <Label row="0" col="1" class="fa medium-spacing" [text]="'fa-chevron-right' | fonticon"></Label>

                    <Label row="1" col="0" [text]="item.color + ' ' + item.length + '\' ' + item.type" class="item-desc"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
  
        <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
  </RadSideDrawer>
  