<ActionBar title="Roster">
    <ActionItem (tap)="onToggleSideDrawer()" ios.systemIcon="10" ios.position="left" android.position="popup"></ActionItem>
  </ActionBar>
  
  <RadSideDrawer>
    <StackLayout tkDrawerContent class="side-drawer">
        <StackLayout class="list-group">
            <Button text="Trains" class="list-group-item" [nsRouterLink]="['']" clearHistory="true"></Button>
            <Button text="Car Roster" class="list-group-item" [nsRouterLink]="['/roster']" clearHistory="true"></Button>
        </StackLayout>
    </StackLayout>
    <GridLayout tkMainContent rows="auto">
        
  
      <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
  </RadSideDrawer>
  