<ActionBar title="Setup"></ActionBar>

<StackLayout>
    <StackLayout class="input-field">
        <Label text="API URL" class="label" textWrap="true"></Label>
        <TextField hint="http://localhost:12080" [(ngModel)]="apiUrl" class="input input-border" autocorrect="false" autocapitalizationType="none" ></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <Label text="Ops API URL" class="label" textWrap="true"></Label>
        <TextField hint="http://localhost:12080" [(ngModel)]="opsApiUrl" class="input input-border" autocorrect="false" autocapitalizationType="none" ></TextField>
    </StackLayout>

    <Button text="Save config" (tap)="saveConfig()" class="btn btn-primary btn-active"></Button>    
</StackLayout>