<ActionBar [title]="train.name">
    
</ActionBar>

<GridLayout rows="auto, auto, auto, auto, auto, auto, *" columns="*, *">
    <!--<Label row="0" col="0" text="Status" class="train-status-heading"></Label>-->
    <Label row="0" colspan="2" [text]="train.trainStatus" [class]="train.getTrainStatusClass('train-status-heading')" textWrap="true"></Label>
    
    <Label row="1" col="0" text="Departs" class="medium-spacing bold"></Label>
    <Label row="1" col="1" [text]="train.departLocationName" class="medium-spacing"></Label>

    <Label row="2" col="0" text="Terminates" class="medium-spacing bold"></Label>
    <Label row="2" col="1" [text]="train.terminateLocationName" class="medium-spacing"></Label>

    <Label row="3" col="0" text="Lead Engine" class="medium-spacing bold"></Label>
    <Label row="3" col="1" [text]="train.leadEngine" class="medium-spacing"></Label>

    <Label row="4" col="0" [text]="'Weight: ' + train.weight + ' tons'" class="medium-spacing"></Label>
    <Label row="4" col="1" [text]="'Length: ' + train.length + ' ft'" class="medium-spacing"></Label>

    <Label row="5" col="0" colspan="2" class="locations-heading medium-spacing" text="Locations"></Label>

    <ListView [items]="manifestLocations" row="6" col="0" colspan="2" [class.visible]="!isLoading" class="list-group train-location-list" (itemTap)="onLocationSelected($event)">
        <ng-template let-item="item">
            <GridLayout rows="auto, auto" columns="*" class="list-group-item">
                <Label row="0" [text]="item.name" class="location-name"></Label>
                <Label row="1" [text]="item.pickUps.length + ' pickups / ' + item.setOuts.length + ' set outs'" class="pickup-setout-counts"></Label>
            </GridLayout>
        </ng-template>
    </ListView>

    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="0" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>